.skill-icon {
    height: 7rem;
    width: 7rem;
    display: block;
    margin: 0;
}

#my-story {
    margin-left: 3rem;
    margin-top: 1rem;
    margin-right: 3rem;
    animation: slide-from-left 1s, fade-in 1s;
}

#skill-list {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    animation: slide-from-right 1s, fade-in 1s;
}

#skill-list-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(10, 1fr);
    gap: 2rem;
    margin-bottom: 3rem
}

#skill-list-grid > div > p {
    text-align: center;
}

@media (min-width: 851px) and (max-width: 1500px) {
    #skill-list-grid {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 650px) and (max-width: 850px) {
    #skill-list-grid {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 400px) and (max-width: 649px) {
    #skill-list-grid {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 399px) {
    #skill-list-grid {
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: 1fr;
    }
    #skill-list-grid > div {
        justify-self: center;
    }
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #FFFFFF
}

p {
    font-size: 1.5rem;
    color: #FFFFFF
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-from-left {
    from {
        left: -5rem;
        position: relative;
    }
    to {
        left: 0;
        position: relative;
    }
}

@keyframes slide-from-right {
    from {
        right: -5rem;
        position: relative;
    }
    to {
        right: 0;
        position: relative;
    }
}

